<h1>User Profile</h1>

<div id="user-profile">
  <div>
    <span class='label'>Name:</span>
    <span class='value'><%= @user.name %></span>
  </div>

  <div>
    <span class='label'>Email:</span>
    <span class='value'><%= @user.email %></span>
  </div>
</div>

<%= link_to 'Edit Profile', [:edit, @user] %>

